% IMAGE_SEQUENCES / VIDEO / STREAM
VIDEO

% cesta k zdroju
inputs/kastiel.avi

% MOVEMENT / CASCADE / MOVEMENT_CASCADE / HOUGH_TRANSFORM
HOUGH_TRANSFORM

% TLD / CT / KCF
TLD

% line - point1 point2
370 0 370 360

% type of line - horizontal/vertical
vertical

% cascade classifier name
cascades/hogcascade_pedestrians.xml

% width of bounding box 50/200 - whatever
50

% height of bounding box 
160