% IMAGE_SEQUENCES / VIDEO / STREAM
VIDEO

% cesta k zdroju
Release/inputs/test_vchod.mp4

% MOVEMENT / CASCADE / MOVEMENT_CASCADE / HOUGH_TRANSFORM
CASCADE

% TLD / CT / KCF
TLD

% left line
300

% middle line - x1 y1 x2 y2
380

% right line
460

% type of line - horizontal/vertical
vertical

% cascade classifier name
Release/cascades/hogcascade_pedestrians.xml

% width of bounding box 50/160 - whatever
100

% height of bounding box 
230