% IMAGE_SEQUENCES / VIDEO / STREAM
VIDEO

% cesta k zdroju
inputs/kuchyna.avi

% MOVEMENT / CASCADE / MOVEMENT_CASCADE / HOUGH_TRANSFORM
MOVEMENT

% TLD / CT
TLD

% line - point1 point2
0 240 720 240

% type of line - horizontal/vertical
horizontal

% cascade classifier name
haarcascade_mcs_upperbody.xml

% width of bounding box
330

% height of bounding box
260