% IMAGE_SEQUENCES / VIDEO / STREAM
VIDEO

% cesta k zdroju
inputs/obchod.avi

% MOVEMENT / CASCADE / MOVEMENT_CASCADE / HOUGH_TRANSFORM
CASCADE

% TLD / CT
TLD

% line - point1 point2
0 144 384 144

% type of line - horizontal/vertical
horizontal

% cascade classifier name
cascades/HS.xml

% width of bounding box
70

% height of bounding box
70